
<html>
<head>
    <meta charset="UTF-8">
    <title>Nearest Neighborhood</title>

    <!-- Bootstrap and AJAX (need these versions for Modal popup to work) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    
    <!-- Leaflet and Vector Tiles-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
    <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css') }}">

    <!-- Introductory Modal Popup -->
    <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
</head>


<body>

<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome!</h4>
            </div>
            <div class="modal-body">
                <p>Nearest Neighborhood is an web-mapping / machine learning app for exploring New York City land use data. Click on any neighborhood 
                in Manhattan, and discover the most similar neighborhood in the outer boroughs, or vice versa. The neighborhood's percentage of each land use 
                type (e.g. "Multi-Family Walk-up" or "Transportation & Utility") is displayed in the charts, the thickness of which corresponds to the overall 
                density of the area.</p>
            </div>
        </div>
    </div>
</div>

<div id="overlay_1">
    <br>
    <h3><div class="borough_manhattan"></div></h3>
    <h3><div class="zip_manhattan"></div></h3>
    <h3><div class="neighborhood_manhattan"></div></h3>
    <div class="chart_1"></div>
    <br><br>
    <svg class="legend"></svg>
</div>

<div id="overlay_2">
    <br>
    <h3><div class="borough_outer"></div></h3>
    <h3><div class="zip_outer"></div></h3>
    <h3><div class="neighborhood_outer"></div></h3>
    <div class="chart_2"></div>
    <br>
</div>

<div id="map"></div>

</body>

<script type="text/javascript" src="../static/js/config.js"></script>
<script type="text/javascript" src="../static/js/chart.js"></script>
<script>
  var dictObj = {{data|safe}};
  doTheThing(dictObj);
</script>